<section class = "profile-post">
  <h2>Create New Post</h2>

  <form class="new-post-form" action="/" method="POST">
    <div>
      <label for="post-title">What would you like to share?</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="image">image</label>
      <input type="file" id="image" name="image" enctype='multipart/form-data' />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/profile/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>