* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: burlywood;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    background-image:url(../images/collective-background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  a {
    text-decoration: none;
    color:  #ff643d;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: black;
  }
  
  button {
    background-color:rgb(31, 31, 31);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ff643d;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  .login-form{
    background-color: rgba(235, 97, 1, 0.7);
    padding: 10px;
    max-width: fit-content;
    margin-left:300px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .signup-form{
    background-color: rgba(235, 97, 1, 0.7);
    padding: 10px;
    max-width: fit-content;
    margin-left:300px;
    border-radius: 15px;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 3em;
  }

  h2 {
    color: black;
  }

  main {
    flex: 1;
    padding: 2% 4%;
    justify-content: center;
    align-items: center;
  }

  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #ff643d;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: black;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    padding: 20px;
    margin: 10px;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 20px;
    flex-wrap: nowrap;
    max-width: fit-content;
    min-width: 400px;
  }

  .post-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .post .title {
    font-weight:bold;
    font-size:large;
    color: black;
    padding: 10px;
  }
    
  .post .title .user-post {
    font-weight:lighter;
    font-size:medium;
    color: white;
    margin: 10px;;

  }
  .profile-image{
    margin: 5px;
  }

  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #ff643d;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    margin-bottom: 10px;
  }
  
  .upvote-btn:hover {
    color: black;
    background-color: rgba(51, 51, 51, 0.2);
  }
  
  .comment-form {
    margin-bottom: 5%;
    border-radius: 15px;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    background-color: rgba(235, 97, 1, 0.7);
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    border-radius: 15px;
  }
  
  .comment:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  .comment-btn {
    background-color: black;
    color: #ff643d;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }

  .comment-btn:hover {
    color: black;
    background-color: rgba(51, 51, 51, 0.2);
  }

  .profile-post{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
  }

  .profile-image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }